{% extends './base.html'%}
{% block centre %}

<div class="sec2-2 flex-col space-around">
    <div class="sec2-2-h flex-row space-bet">
        <div class="sms flex ">
            <h3>le Magasin numero 2 a été supprimer</h3>
        </div>
        <div class="btn-s flex space-center">
            <button class="btn-s1">
                <a href="/enregistre">Ajouter</a> 
            </button>
        </div>
    </div>
    <div class="sec2-2-b flex space-center">
        <table class="tableau flex-col space-center">
        <thead class="etete flex space-center">
           <tr class="tete flex-row space-bet ">
              <td class="flex space-center">id</td>
              <td class="flex space-center">Nom</td>
              <td class="flex space-center">Adresse</td>
              <td class="flex space-center">Telephone</td>
              <td class="flex space-center">Email</td>
              <td class="flex-row space-center action">Action</td>
           </tr>
        </thead>
        <tbody class="tcorp flex-col ">
          <tr class="flex-row space-bet">
              <td class="flex space-center fond1">1</td>
              <td class="flex space-center fond1">Magasin 1</td>
              <td class="flex space-center fond1">addresse 1</td>
              <td class="flex space-center fond1">Telephone1</td>
              <td class="flex space-center fond1">Email1</td>
              <td class="flex space-bet fond1">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>
                  
              </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center f2">2</td>
              <td class="flex space-center f2">Magasin 2</td>
              <td class="flex space-center f2">addresse 2</td>
              <td class="flex space-center f2">Telephone2</td>
              <td class="flex space-center f2">Email2</td>
              <td class="flex space-bet f2">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>
                  
              </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center fond1">3</td>
              <td class="flex space-center fond1">Magasin 3</td>
              <td class="flex space-center fond1">addresse 3</td>
              <td class="flex space-center fond1">Telephone3</td>
              <td class="flex space-center fond1">Email3</td>
              <td class="flex space-bet fond1">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>
                  
              </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center f2">4</td>
              <td class="flex space-center f2">Magasin 4</td>
              <td class="flex space-center f2">addresse 4</td>
              <td class="flex space-center f2">Telephone4</td>
              <td class="flex space-center f2">Email4</td>
              <td class="flex space-bet f2">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>
                  
              </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center fond1">5</td>
              <td class="flex space-center fond1">Magasin 5</td>
              <td class="flex space-center fond1">addresse 5</td>
              <td class="flex space-center fond1">Telephone</td>
              <td class="flex space-center fond1">Email5</td>
              <td class="flex space-bet fond1">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>
              </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center f2">6</td>
              <td class="flex space-center f2">Magasin 6</td>
              <td class="flex space-center f2">addresse 6</td>
              <td class="flex space-center f2">Telephone6</td>
              <td class="flex space-center f2">Email6</td>
              <td class="flex space-bet f2">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup"class="moA">supprime</a> </button>
              </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center fond1">7</td>
              <td class="flex space-center fond1">Magasin 7</td>
              <td class="flex space-center fond1">addresse 7</td>
              <td class="flex space-center fond1">Telephone7</td>
              <td class="flex space-center fond1">Email7</td>
              <td class="flex space-bet fond1">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>                            </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center f2">8</td>
              <td class="flex space-center f2">Magasin 8</td>
              <td class="flex space-center f2">addresse 8</td>
              <td class="flex space-center f2">Telephone8</td>
              <td class="flex space-center f2">Email8</td>
              <td class="flex space-bet f2">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>  </td>
          </tr>
          <tr class="flex-row space-bet">
              <td class="flex space-center fond1">9</td>
              <td class="flex space-center fond1">Magasin 9</td>
              <td class="flex space-center fond1">addresse 9</td>
              <td class="flex space-center fond1">Telephone9</td>
              <td class="flex space-center fond1">Email9</td>
              <td class="flex space-bet fond1">
                  <button class="modif flex space-center" ><a class="moA" href="/modif">modif</a> </button>
                  <button class="sup flex space-center" > <a href="/sup" class="moA">supprime</a> </button>
              </td>
          </tr>
          
        </tbody>
      </table>
    </div>
{% endblock %}