<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/zero.css">
    <link rel="stylesheet" href="css/initialize.css">
    <title>Document</title>
</head>
<body>
    <section class="sectionG">
      <div class="section1 flex-col space-around">
        <div class="sec1 flex space-center">
        <h2>ZORO</h2>
        </div>
        <div class="sec2 flex-row space-around">
            <div class="sec2-1 flex-col space-bet">
                <div class="gauche1 flex-col space-bet">
                    <button class="g1 flex space-center"><a href="/listemagasin">Magasin</a> </button>
                    <button class="g1 flex space-center">Produit</button>
                    <button class="g1 flex space-center">Vente</button>
                    <button class="g1 flex space-center"><a href="zoro1.html">Deconnexion</a> </button>
                </div>
                <div class="gauche2 ">
                    
                </div>
            </div>
            <div class="sec2-2 flex-col space-around">
                <div class="sec2-2-h flex-row space-bet">
                    <div class="sms flex ">
                        <h3>votre Magasin à bien ete enregistrer</h3>
                    </div>
                    <div class="btn-s flex space-center">
                        <button class="btn-s1">
                            <a href="/enregistremag">Ajouter</a> 
                        </button>
                    </div>
                </div>
                <div class="sec2-2-b flex space-center">
                    <table class="tableau flex-col space-center">
                      <thead class="etete flex space-center">
                         <tr class="tete flex-row space-bet ">
                            <td class="flex space-center">id</td>
                            <td class="flex space-center">titre</td>
                            <td class="flex space-center">text</td>
                            <td class="flex space-center">categorie</td>
                            <td class="flex space-center">date</td>
                         </tr>
                      </thead>
                      <tbody class="tcorp flex-col ">
                        <tr class="flex-row space-bet">
                            <td class="flex space-center fond1">id</td>
                            <td class="flex space-center fond1">titre</td>
                            <td class="flex space-center fond1">text</td>
                            <td class="flex space-center fond1">categorie</td>
                            <td class="flex space-center fond1">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center f2">id</td>
                            <td class="flex space-center f2">titre</td>
                            <td class="flex space-center f2">text</td>
                            <td class="flex space-center f2">categorie</td>
                            <td class="flex space-center f2">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center fond1">id</td>
                            <td class="flex space-center fond1">titre</td>
                            <td class="flex space-center fond1">text</td>
                            <td class="flex space-center fond1">categorie</td>
                            <td class="flex space-center fond1">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center f2">id</td>
                            <td class="flex space-center f2">titre</td>
                            <td class="flex space-center f2">text</td>
                            <td class="flex space-center f2">categorie</td>
                            <td class="flex space-center f2">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center fond1">id</td>
                            <td class="flex space-center fond1">titre</td>
                            <td class="flex space-center fond1">text</td>
                            <td class="flex space-center fond1">categorie</td>
                            <td class="flex space-center fond1">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center f2">id</td>
                            <td class="flex space-center f2">titre</td>
                            <td class="flex space-center f2">text</td>
                            <td class="flex space-center f2">categorie</td>
                            <td class="flex space-center f2">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center fond1">id</td>
                            <td class="flex space-center fond1">titre</td>
                            <td class="flex space-center fond1">text</td>
                            <td class="flex space-center fond1">categorie</td>
                            <td class="flex space-center fond1">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="flex space-center f2">id</td>
                            <td class="flex space-center f2">titre</td>
                            <td class="flex space-center f2">text</td>
                            <td class="flex space-center f2">categorie</td>
                            <td class="flex space-center f2">date</td>
                        </tr>
                        <tr class="flex-row space-bet">
                            <td class="vert flex space-center fond1">id</td>
                            <td class="vert  flex space-center fond1">titre</td>
                            <td class=" vert flex space-center fond1">text</td>
                            <td class="vert  flex space-center fond1">categorie</td>
                            <td class=" vert flex space-center fond1">date</td>
                        </tr>
                        
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </section>
</body>
</html>